body{
    height: 100vh;
    font-family: 'Noto Sans TC', sans-serif,'微軟正黑體';
    margin: 0;
    padding: 0;
    background-color: #DAEDF7;
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    display: flex;    
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    
}
h3{
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    text-align: center;
    color: #231815;
    font-weight: normal;
    margin: 15px 0 50px 0;
}
a{
    text-decoration: none;
    color: #6779B4;
}
a:hover{
    color: #000;
}

.login-body{
    width: 1015px;    
    min-width: 320px;
    background-color: #fff; 
    margin-top: 30px;
    display: flex;    
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(41, 98, 155, 0.2);    
}
.login-left{
    width: 55%;    
    height: 65vh;
    background-image: url("../img/Eip-iot.jpg"); 
    background-size: cover;
    background-position: center;
}
.login-right{
    width: calc(45% - 140px);
    min-width: 305px;
    text-align: center;
    padding: 0px 70px;
}
.login-top{    
    justify-content: center;
}

.logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    
}
.login-bot{
    width: 100%;    
    margin-top: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
input{
    width: 100%;
    height: 30px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #DCDCDD;
    font-size: 16px;
    margin-bottom: 10px;
}
input:focus {
    border-color: #85CAE5;
    transition: 0.5s;
}
.btn-group{
    width: 316px;
}
.btn{
    width: calc(50% - 7.5px);    
    height: 40px;
    background-color: #29629b;
    border-radius: 5px;    
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
    margin: 24px 0 15px 0;
    border: none;
    float: left;
    
}
.btn:hover{
    background-color: #2EA4DD;
    transition: 0.3s;
}
.btn-forget{
    width: calc(50% - 7.5px);   
    height: 40px;
    background-color: #cae7fc;
    border-radius: 5px;    
    font-size: 16px;
    line-height: 40px;
    color: #29629b;
    font-weight: normal;
    margin: 24px 0 15px 0;
    border: none;
    float: right;
}
.btn-forget:hover{
    background-color: #2EA4DD;
    color: #fff;
    transition: 0.3s;    
}
.clear-float{
    clear: both;
}
.footer{
    width: 100%;
    min-width: 320px;
    padding: 15px 0;
}
.footer p{    
    color: #727171;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.footer-p-M{
    display: none;
}